[submodule "summative/themes/Relearn"]
	path = summative/themes/Relearn
	url = git@github.com:McShelby/hugo-theme-relearn.git
[submodule "summative/themes/RelearnNyiyui"]
	path = summative/themes/RelearnNyiyui
	url = git@github.com:colourdelete/RelearnNyiyui.git
[submodule "summative/themes/xyi"]
	path = summative/themes/xyi
	url = git@github.com:colourdelete/xyi.git
