{{define "main"}}
<!-- GENDO START CommonHeader -->

<div id="common-header">
  <style>
    #common-nav {
      font-size: 16px;
      color: #d0d0d0;
      background: #222;
      padding: 4px;
    }
    #common-nav a {
      color: #d0d0d0;
      text-decoration: none;
      padding-right: 10px;
    }
    #common-nav a:hover {
      text-decoration: underline;
    }
    #common-nav .this {
      color: #adadad;
    }
  </style>
  <nav id="common-nav">
    <a href="https://nyiyui.ca" style="color: #ff6bdf;">
      <img src="https://cdn.nyiyui.ca/one.svg" style="height: 1.8rem; display: inline; vertical-align: middle;" />
      Nyiyui
    </a>
    
      <a href="https://nyiyui.ca/qrystal">Qrystal</a>
    
    <span class="this">
      MPM2DP-0A Summative
    </span>
  </nav>
</div>
<!-- GENDO END CommonHeader -->
<aside id="meta">
  {{partial "partials/page/meta" .}}
  <nav aria-labelledby="main">{{partial "partials/page/nav" .}}</nav>
</aside>
<article id="main">
  <h1 id="title">{{.Title}}</h1>
  <section id="content">{{.Content}}</section>
</article>
{{end}}
